body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/*div nombre*/
.name {
    width: 100%;
    margin: 0%;
    text-align: center;
    background-color: #030027;
    color: #F2F3D9;
    opacity: .8;
    padding: 2%;
}
h1 {
    margin: 0%;
}
/*div principal*/
.main {
    width: 100%;
    display: flex;
}

/*div contenedor sidebar*/
.sidebar {
    width: 20%;
    padding: 0%;
    background-color: #151E3F;
    color: #F2F3D9;
    opacity: .8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2%;
    padding-left: 2%;
}
/*div sidebar-information*/
.sidebar-information {
    height: 50%;
    text-align: center;
}
.information-personal {
    text-align: center;
}
/*sidebar-skills*/
.sidebar-skills {
    height: 50%;
    text-align: center;
}
.skills-description {
    text-align: center;
}
/*div bloque sidebar-social*/
.sidebar-social {
    height: 50%;
    text-align: center;
    align-items: center;
}
.social-info1 {
    width: 100%;
    display: flex;
}
.social-img1 {
    padding-bottom: 10%;
}
.social1 {
    width: 100%;
    margin: 0%;
    padding-left: 10%;
}
.social-info2 {
    width: 100%;
    display: flex;
}
.social-img2 {
    padding-bottom: 10%;
}
.social2 {
    width: 100%;
    margin: 0%;
    padding-left: 10%;
}
.social-info3 {
    width: 100%;
    display: flex;
}
.social3 {
    width: 100%;
    margin: 0%;
    padding-left: 10%;
}


/*div contenedor conten*/
.conten {
    padding-left: 2%;
    background-color: 	hwb(40 99% 0%);
    padding-right: 1%;
}
h4 {
    font-size: 120%;
}
/*div bloque conten-training*/
.conten-training {
    width: 100%;
    margin: 0%;
}
.training-info1 {
    width: 100%;
    display: flex;
}
.info1-img {
  padding-top: 5%;
  width: 10%;
}
.description-1 {
    padding-left: 10%;
    margin: 0%;
}
.training-info2 {
    width: 100%;
    display: flex;
}
.info2-img {
  padding-top: 5%;
  width: 10%;
  text-align: center;
}
.description-2 {
    padding-left: 10%;
    margin: 0%;
}
.training-info3 {
    width: 100%;
    display: flex;
}
.info3-img {
  padding-top: 5%;
  width: 10%;
}
.description-3 {
    padding-left: 10%;
    margin: 0%;
}
.training-info4 {
    width: 100%;
    display: flex;
}
.info4-img {
  padding-top: 5%;
  width: 10%;
}
.description-4 {
    padding-left: 10%;
    margin: 0%;
}
.training-info5 {
    width: 100%;
    display: flex;
}
.info5-img {
  padding-top: 5%;
  width: 10%;
  text-align: center;
}
.description-5 {
    padding-left: 10%;
    margin: 0%;
}